{
  "env": {
    "build": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        "external-helpers",
        "syntax-object-rest-spread",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
